
<img alt="Credit_card" id="credit-card-image" src="/assets/credit_cards/credit_card.gif">

<p class="field" data-hook="card_number">
    <label for="card_number"><span class="required">*</span> Card Number</label>
    <input autocomplete="off" class="required" id="card_number" maxlength="19" name="payment_source[{{payment_method.id}}][number]" size="19" value="" type="text">
    &nbsp;
  <span id="card_type" style="display:none;">
    ( <span id="looks_like">Card type is <span id="type"></span></span>
      <span id="unrecognized">Unrecognized card type</span>
    )
  </span>
</p>
<p class="field" data-hook="card_expiration">
    <label for="card_month"><span class="required">*</span> Expiration</label>
    <select class="required input-small" id="card_month" name="payment_source[{{payment_method.id}}][month]">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
    </select>

    <select class="required input-small" id="card_year" name="payment_source[{{payment_method.id}}][year]">
        <option value="2013">2013</option>
        <option value="2014">2014</option>
        <option value="2015">2015</option>
        <option value="2016">2016</option>
        <option value="2017">2017</option>
        <option value="2018">2018</option>
        <option value="2019">2019</option>
        <option value="2020">2020</option>
        <option value="2021">2021</option>
        <option value="2022">2022</option>
        <option value="2023">2023</option>
        <option value="2024">2024</option>
        <option value="2025">2025</option>
        <option value="2026">2026</option>
        <option value="2027">2027</option>
        <option value="2028">2028</option>
    </select>

</p>
<p class="field" data-hook="card_code">
    <label for="card_code"><span class="required">*</span> Card Code</label>
    <input class="required" id="card_code" name="payment_source[{{payment_method.id}}][verification_value]" size="5" value="" type="text">
    <a href="/content/cvv?locale=en" data-hook="cvv_link" id="cvv_link" target="_blank">(What's This?)</a>
</p>
<input id="payment_source_{{payment_method.id}}_first_name" name="payment_source[{{payment_method.id}}][first_name]" value="{{order.billing_firstname}}" type="hidden">
<input id="payment_source_{{payment_method.id}}_last_name" name="payment_source[{{payment_method.id}}][last_name]" value="{{order.billing_lastname}}" type="hidden">

          