<footer class="row">
    <p id="copy-right" class="span3">© {{site_name}} {{ '%Y' | time_now }}
    <br>
        <a href="https://twitter.com/shoponrails" class="twitter-follow-button" data-show-count="false">Follow @shoponrails</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    </p>
    <p id="credit" class="span9">
        {{ 'footer.powered_by' | t }}<a href="https://github.com/shoponrails/spreefinery_default_theme" title="Default Theme">{{ 'footer.default_theme' | t }}</a>
        {{ 'and' | t }} <a href="https://github.com/shoponrails/shop_on_rails" title="ShopOnRails">ShopOnRails</a>
    </p>
</footer>

<!--
<script type="text/javascript">stLight.options({publisher: "af7e6f63-4aff-4625-a007-f823d38c96c1", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
<script>
    var options={ "publisher": "af7e6f63-4aff-4625-a007-f823d38c96c1", "position": "left", "ad": { "visible": false, "openDelay": 5, "closeDelay": 0}, "chicklets": { "items": ["googleplus", "facebook", "twitter", "linkedin", "delicious", "evernote", "livejournal", "vkontakte", "mail_ru", "blinklist", "pinterest", "email", "sharethis"]}};
    var st_hover_widget = new sharethis.widgets.hoverbuttons(options);
</script>
-->
