<div class="row">
    <div class="span3">
        <h3>Search</h3>
        <div class="control-group">
            <div class="controls">
                <div class="input-append">
                    <input class="span2" id="appendedInputButton" size="16" type="text"><button class="btn btn-success" type="button">Go!</button>
                </div>
            </div>
        </div>
        <h3>Recent Post</h3>
        <ul class="list-sidebar">
            <li><i class="icon-pencil"></i> <a href="single.html">Post#1</a></li>
            <li><i class="icon-pencil"></i> <a href="#">Post#2</a></li>
            <li><i class="icon-pencil"></i> <a href="#">Post#3</a></li>
        </ul>
        <h3>Recent Comments</h3>
        <ul class="list-sidebar">
            <li><i class="icon-comment"></i> Admin on <a href="#">Post#1</a></li>
            <li><i class="icon-comment"></i> <a href="#">John Doe</a> on <a href="#">Post#2</a></li>
            <li><i class="icon-comment"></i> Admin on <a href="#">Post#3</a></li>
        </ul>
        <h3>Archives</h3>
        <ul class="list-sidebar">
            <li><i class="icon-file"></i> <a href="#">July 2012</a></li>
            <li><i class="icon-file"></i> <a href="#">April 2012</a></li>
            <li><i class="icon-file"></i> <a href="#">March 2012</a></li>
            <li><i class="icon-file"></i> <a href="#">February 2012</a></li>
            <li><i class="icon-file"></i> <a href="#">January 2012</a></li>
            <li><i class="icon-file"></i> <a href="#">December 2011</a></li>
        </ul>
        <h3>Categories</h3>
        <ul class="list-sidebar">
            <li><i class="icon-list-alt"></i> <a href="#">Nature</a></li>
            <li><i class="icon-list-alt"></i> <a href="#">Photography</a></li>
            <li><i class="icon-list-alt"></i> <a href="#">Design</a></li>
            <li><i class="icon-list-alt"></i> <a href="#">Un Categories</a></li>
        </ul>
        <h3>Tags</h3>
        <p class="post-tags"><a href="#"><span class="label label-success">Green</span></a> <a href="#"><span class="label label-success">plant</span></a>
            <a href="#"><span class="label label-success">growth</span></a> <a href="#"><span class="label label-success">property</span></a>
            <a href="#"><span class="label label-success">kitchen</span></a> <a href="#"><span class="label label-success">indoor</span></a>
            <a href="#"></a><a href="#"><span class="label label-success">Beach</span></a> <a href="#"><span class="label label-success">landscape</span></a>
        </p>

    </div>
    <div class="span9">
        {% if posts.size > 0 %}
        <ul id="posts">
            {% for post in posts %}
            <h1><a href="{{ 'blog_post_path' | url_helper: post  }}">{{ post.title }}</a></h1>
            <p>{{ post.body }}</p>
            <div>
                <div class="pull-right">
                    {% for tag in post.tag_list %}
                    <span class="label">{{ tag }}</span>
                    {% endfor %}
                </div>
            </div>
            <hr>
            <p>
                <i class="icon-user"></i> <a href="#">Admin</a>
                | <i class="icon-calendar"></i> {{ post.published_at }}
                | <i class="icon-comment"></i> <a href="#">3 Comments</a>
                | <i class="icon-share"></i> <a href="#">39 Shares</a>
            </p>
            {% endfor %}
        </ul>
        {% else %}
        {{ '.no_blog_articles_yet' | t }}
        {% endif %}
    </div>
    <!--<div class="span3">-->
        <!--{{content_for_right_sidebar}}-->
    <!--</div>-->
</div>

{% paginator collection:posts %}
