<div class="row">
    <div class="span4">
        {% include 'refinery/blog/sidebar' %}
    </div>
    <div class="span8">
        {% if posts.size > 0 %}
        <ul class="thumbnails">
            {% for post in posts %}
            <li>
                <div class="thumbnail row">
                    <div class="span9">
                        <div class="page-header">
                            <h3><a href="{% url_helper blog_post_path, post %}">{{ post.title }}</a></h3>
                        </div>
                    </div>
                    <div class="span9">
                        <div>
                            <span class="badge badge-info"><i class="icon-user icon-white"></i>&nbsp {{ post.author.username }}</span>
                            | <span class="badge badge-info"><i class="icon-calendar icon-white"></i>&nbsp {{ post.published_at | date: "%Y %h %d" }}</span>
                            | <span class="badge badge-info"><a href="{% url_helper blog_post_path, post %}#comments"><i class="icon-comment icon-white"></i>&nbsp{{ post.approved_comments_count }}&nbsp</a></span>
                        </div>
                        <p></p>
                    </div>
                    <div class="span3">
                        <img class="img-polaroid" alt="300x200" style="width: 300px; height: 200px;"
                             src="http://lorempixel.com/300/200/city/">
                    </div>
                    <div class="span5">
                        <p>{{ post.body }}</p>
                        <hr>
                    </div>
                    <div class="pull-right">
                        <i class="icon-tags"></i> Tags :
                        {% for tag in post.base_tags %}
                                <span class="label label-info"><i class="icon-tag icon-white"></i>
                                    <a href="{% url_helper blog_tagged_posts_path, tag.id, tag.name_parameterize %}">&nbsp;{{ tag.name }}</a>
                                </span>
                        {% endfor %}
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
        {% else %}
        {{ 'no_blog_articles_yet' | t }}
        {% endif %}
        {% paginator collection:posts %}
    </div>
</div>


