<div class="row">
    <div class="span4">
        {% include 'refinery/blog/sidebar' %}
    </div>
    <div class="span8">
        <ul class="breadcrumb">
            <li><a href="/">Home</a> <span class="divider">/</span></li>
            <li><a href="/blog">Blog</a> <span class="divider">/</span></li>
            <li class="active">{{ post.title }}</li>
        </ul>
        <div class="thumbnail">
            <div class="page-header well-large">
                <h1>{{ post.title }}</h1>
            </div>
           <p class="well-small">{{ post.body }}</p>
            <table class="table table-striped table-bordered">
                <tbody>
                <tr><td><i class="icon-user "></i>&nbsp;{{ post.author.username }}</td></tr>
                <tr><td><i class="icon-calendar "></i>&nbsp;{{ post.published_at | date: "%Y %h %d" }}</td></tr>
                </tbody>
            </table>
            <ul class="nav nav-pills">
                <li class="active"><a data-toggle="tab" href="#comments-tab"><i class="icon-calendar"></i>&nbsp;Comments ({{ post.approved_comments.size }})</a></li>
                <li><a data-toggle="tab" href="#tags-tab"><i class="icon-tags"></i>&nbsp;Tags ({{ post.base_tags.size}})</a></li>
                <li><a data-toggle="tab" href="#categories-tab"><i class="icon-check"></i>&nbsp;Categories ({{ post.categories.size }})</a></li>
            </ul>
            <div class="tab-content well-small">
                <div id="comments-tab" class="tab-pane fade in active">
                    {% include 'refinery/blog/post_comments' %}
                </div>
                <div id="tags-tab" class="tab-pane fade in">
                    {% for tag in post.base_tags %}
                        <span class="label label-info"><i class="icon-tag icon-white"></i>
                            <a href="{% url_helper blog_tagged_posts_path, tag.id, tag.name_parameterize %}">&nbsp;{{ tag.name }}</a>
                        </span>
                    {% endfor %}
                </div>
                <div id="categories-tab" class="tab-pane fade in">
                    <ul class="breadcrumb">
                        {% for category in post.categories %}
                        <li><a href="{% url_helper blog_category_path, category %}"><i class="icon-check"></i>&nbsp{{ category.title }}({{ category.post_count }})</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>