{% content_for head %}
    <link href="/assets/products.css" rel="stylesheet">
<script src="/assets/products.js" type="text/javascript"></script>
{% end_content_for %}
<div class="row">
    <div class="span3">
        <div id="jsTree" class="taxonomies jsTree jstree-apple">
            <ul>
                {% for taxonomy in get_taxonomies %}
                <li id="taxonomy_{{taxonomy.id}}">
                    <a href="#">{{taxonomy.name}}</a>
                    {{taxonomy.root | taxons_tree: taxon, 3}}
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="span6 product_list">
        <ul class="thumbnails">
            {% for product in products %}
            <li class="span2">
                <div class="thumbnail product">
                    <a href="product.html">{% image_for_product style:small %}</a>
                    <div class="caption">
                        <a href="product.html"> <h5>{{ product.name }}</h5></a>  Price: {{ product.price | format_as_money }}<br><br>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="span3">
        {{content_for_right_sidebar}}
    </div>
</div>
