{% content_for head %}
<script type="text/javascript" src="/assets/product.js"></script>
<link rel="stylesheet" type="text/css" href="/assets/jquery.rating.css">
{% end_content_for %}

<div class="product-content">
  <div class="taxons-container">
    {% include 'spree/taxonomies' %}
  </div>

<div class="product-container">
    <ul class="breadcrumb">
        <li>
            <a href="#">Home</a> <span class="divider">/</span>
        </li>
        <li>
            <a href="#">Audio</a> <span class="divider">/</span>
        </li>
        <li class="active">
            <a href="#">MP3 players</a>
        </li>
    </ul>

    <h2 class="product-title">{{ product.name }}</h2>

    <div class="product-images">
        <a class="zoom" href="{% product_image_url object:product, style:original %}">{% image_for_product style:product %}</a>
        <ul class="thumbnails">

            <li class="span1">
                <a class="thumbnail" href="#">
                    {% image_for_product style:mini %}
                </a>
            </li>
        </ul>
    </div>

    <div class="product-details">
        {% error_messages_for order %}
        <div class="price"><h4>Price: {{ product.price_with_currency }}</h4></div>
        {% form_for 'order' as:post url_helper:populate_orders_path, html:"{ id:'basket', class:'product-cart form-inline'}" %}
        <div class="options">
            {% if product.has_variants? %}
            <ul class="nav nav-list">{% variants_for product %}</ul>
            {% endif %}
        </div>
        <div class="quantity">
            <label>Qty:</label>
            {% if product.on_sale? %}
                {% if product.has_variants? %}
                    <input type="text" placeholder="1" class="span1" value="1" name="quantity" min="1" max="{{ product.on_hand }}" size="3">
                {% else %}
                    <input type="text" placeholder="1" class="span1" value="1" name="variants[{{ product.master.id }}]" min="1" max="{{ product.on_hand }}" size="3">
                {% endif %}
            {% else %}
                <strong>Sorry! Out of Stock.</strong>
            {% endif %}
            <button type="submit" class="btn btn-primary">Add to cart</button>
        </div>
        {% endform_for %}
    </div>
    <div class="clearfix" />
    <div class="extra">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#1">Description</a></li>
            <li><a data-toggle="tab" href="#2">Specifications</a></li>
            <li><a data-toggle="tab" href="#3">Related products</a></li>
        </ul>
        <div class="tab-content">
            <div id="1" class="tab-pane active">
                <p>{{ product | product_description }}</p>
            </div>
            <div id="2" class="tab-pane">
              <ul>
                {% for product_property in product_properties %}
                <li>
                    <strong>{{ product_property.property.presentation }}:</strong>
                    <span>{{ product_property.value }}</span>
                </li>
                {% endfor %}
              </ul>
            </div>
            <div id="3" class="tab-pane">
                <ul class="thumbnails related_products">

                    <li class="span2">
                        <div class="thumbnail">
                            <a href="product.html"><img src="/assets/220x180.gif" alt=""></a>
                            <div class="caption">
                                <a href="product.html"> <h5>iPod Touch</h5></a>  Price: $50.00<br><br>
                            </div>
                        </div>
                    </li>

                    <li class="span2">
                        <div class="thumbnail">
                            <a href="product.html"><img src="/assets/220x180.gif" alt=""></a>
                            <div class="caption">
                                <a href="product.html"> <h5>iPod Touch</h5></a>  Price: $50.00<br><br>
                            </div>
                        </div>
                    </li>

                    <li class="span2">
                        <div class="thumbnail">
                            <a href="product.html"><img src="/assets/220x180.gif" alt=""></a>
                            <div class="caption">
                                <a href="product.html"> <h5>iPod Touch</h5></a>  Price: $50.00<br><br>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</div>