<legend>Your Billing Address</legend>

{% if current_order.bill_address.new_record == false %}
<label for="bill-address-existing" class="radio">
  <input name="bill_address" value="bill_address_existing" id="bill-address-existing" checked="checked" type="radio">
  I want to use an existing address
</label>

<div style="display: block;" id="bill-existing">
    <select style="width: 100%; margin-bottom: 15px;" size="5">
        <option selected="selected">
            {{current_order.bill_address.address1}} {{current_order.bill_address.address2}}, {{current_order.bill_address.city}}, {{current_order.bill_address.state.name}} {{current_order.bill_address.zipcode}}
        </option>
    </select>
</div>
<p>
    <label for="bill_address_new" class="radio">
      <input name="bill_address" value="bill_new" id="bill_address_new" type="radio">
      I want to use a new address
    </label>
</p>
{% endif %}

<div id="bill-address-new" style="{% if current_order.bill_address.new_record == false %}display: none;{% else %}display: block;{% endif %}" >
  <div class="control-group">
    <label class="control-label" for="order[bill_address_attributes][firstname]">First Name</label>
    <div class="controls">
      <input name="order[bill_address_attributes][firstname]" value="" class="required" type="text">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="order[bill_address_attributes][lastname]">Last Name</label>
    <div class="controls">
      <input name="order[bill_address_attributes][lastname]" value="" class="required" type="text">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="order[bill_address_attributes][phone]">Phone Number</label>
    <div class="controls">
      <input name="order[bill_address_attributes][phone]" value="" class="required" type="text">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="order[bill_address_attributes][address1]">Street Address</label>
    <div class="controls">
      <input name="order[bill_address_attributes][address1]" value="" class="required" type="text">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="order[bill_address_attributes][address2]"></label>
    <div class="controls">
      <input name="order[bill_address_attributes][address2]" value="" type="text">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="order[bill_address_attributes][city]">City</label>
    <div class="controls">
      <input name="order[bill_address_attributes][city]" value="" class="required" type="text">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="order[bill_address_attributes][zipcode]">Zip / Postal Code</label>
    <div class="controls">
      <input name="order[bill_address_attributes][zipcode]" value="" class="required" type="text">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="order[bill_address_attributes][country_id]">Country</label>
    <div class="controls">
      {% collection_select "order[bill_address_attributes]" method:"country_id", collection:available_countries, value_method:'id', text_method:'name', options:"{selected: 49}", html_options:"{id: 'bill_countries_dropdown', class:'countries_dropdown'}" %}
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="order[bill_address_attributes][state_id]">State / Region</label>
    <div class="controls">
      <select id="bill_address_states_dropdown" name="order[bill_address_attributes][state_id]" class="required">
        <option data-qrepeat="state states" data-qattr="value state.id" data-qtext="state.name"></option>
      </select>
      <input id="bill_address_states_input" name="order[bill_address_attributes][state_name]" type="text">
    </div>
  </div>
</div>
