<div class="left">
    <h2>{{ 'checkout_page.new_customer' | translate }}</h2>
    <label for="registration">
        <input id="registration" value="signup" name="select_variant" checked="checked" type="radio"
               onclick="$('#order_email_field').hide(); $('#new-account-holder').show()">
        <b>{{ 'checkout_page.register_account' | translate }}</b>
    </label>
    <div id="new-account-holder">
        {% error_messages_for user %}
        {% form_for user as:post  url_helper:checkout_sign_up_path, method:put, html:"{ id:'signup-form', class:'checkout-signup-form'}" %}
        <div class="checkout-content" style="display: block">
            <div class="left">
                <h2>{{ 'checkout_page.your_personal_details' | translate }}</h2>
                <span class="required">*</span> {{ 'checkout_page.username' | translate }}:<br>
                <input type="text" class="small-field" value="" name="user[username]">
                <br>
                <br>
                <span class="required">*</span> {{ 'checkout_page.email' | translate }}:<br>
                <input type="text" class="small-field" value="" name="user[email]">
                <br>
                <br>
            </div>
            <div class="right">
                <h2>{{ 'checkout_page.your_password' | translate }}</h2>
                <span class="required">*</span> {{ 'checkout_page.password' | translate }}:<br>
                <input type="password" class="small-field" value="" name="user[password]">
                <br>
                <br>
                <span class="required">*</span> {{ 'checkout_page.password_confirm' | translate }}: <br>
                <input type="password" class="small-field" value="" name="user[password_confirmation]">
                <br>
                <br>
            </div>
        </div>
        {% endform_for %}
    </div>
    <br>
    <label for="guest">
        <input id="guest" type="radio" value="guest" name="select_variant" onclick="$('#order_email_field').show(); $('#new-account-holder').hide()">
        <b>{{ 'checkout_page.guest_checkout' | translate }}</b>
    </label>
    <div id="order_email_field" style="display: none">
        {% error_messages_for order %}
        {% form_for order as:post  url_helper:update_checkout_registration_path, method:put, html:"{ id:'guest-form', class:'checkout-guest-form'}" %}
        <br>
        <label for="order_email">{{ 'checkout_page.your_email' | translate }}</label><br>
        <input type="text" size="30" name="order[email]" id="order_email" class="title">
        {% endform_for %}
    </div>
    <br>
    <br>
    <p>By creating an account you will be able to shop faster, be up to date on an order's status, and keep track of
        the orders you have previously made.</p>
    <a onclick=" $('#'+$('input[name=select_variant]:checked').val()+'-form').submit() " class="button"><span>{{ 'continue' | translate }}</span></a><br>
    <br>

</div>
<div id="login" class="right">
    <h2>{{ 'checkout_page.returning_customer' | translate }}</h2>
    <p>{{ 'checkout_page.iam_returning_customer' | translate }}</p>
    {% error_messages_for refinery_user %}
    {% form_for 'refinery_user' as:post  url_helper:user_session_path, method:post, html:"{ id:'login-form', class:'my-class'}" %}
        <b>{{ 'checkout_page.email_or_login' | translate }}:</b><br>
        <input name="refinery_user[login]" value="" type="text">
        <br>
        <br>
        <b>{{ 'checkout_page.password' | translate }}:</b><br>
        <input name="refinery_user[password]" type="password">
        <br>
        <a href="/refinery/users/password/new">{{ 'checkout_page.forgotten_password' | translate }}:</a><br>
        <br>
        <a onclick="$('#login-form').submit()" class="button"><span>{{ 'login' | translate }}</span></a><br>
        <br>
    {% endform_for %}
</div>
