{% for payment_method in order.available_payment_methods %}
  <label for="payment_method_id_{{payment_method.id}}" class="radio">
    <input name="order[payments_attributes][][payment_method_id]" value="{{payment_method.id}}" id="payment_method_id_{{payment_method.id}}"  type="radio">{{payment_method.name}}
  </label>
  {% capture method_type_partial %}{{ 'spree/checkout/payment/' | append:payment_method.method_type }}{% endcapture %}
  <div>{% include method_type_partial %}</div>
{% endfor %}
