{% content_for head %}
    <script src="/themes/assets/javascripts/checkout.js" type="text/javascript"></script>

    <script type="text/javascript">
        $(document).ready(function(){
            var steps = {{ checkout_progress_json }};
        $('#checkout_steps').distal(steps);
        });
    </script>
{% end_content_for %}

<h1>{{ 'checkout_page.checkout' | t }}</h1>
<div class="checkout">
    <ul id="checkout_steps" class="nav nav-pills">
      <li data-qrepeat="crumb progress" data-qattr="class crumb.state" class="">
        <a data-qtext="crumb.label" data-qattr="href crumb.link" href="#"></a>
      </li>
    </ul>
    {% capture flash_error %}{% flash key:error %}{% endcapture %}
    {% if flash_error.size != 0 %}
    <div class="alert alert-error">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      {{ flash_error }}
    </div>
    {% endif %}

    {% capture_variable current_form_object %}{{ order }}{% endcapture_variable %}
    {% include 'errors_messages' %}

    {% form_for order as:post url_helper:update_checkout_path, url_helper_params:order.state, method:put, html:"{ id:'checkout-form', class:'checkout-form form-horizontal'}" %}
        {% if order.state == 'address'  %}
        <div class="checkout-content" style="display: block">{% include 'spree/checkout/address' %}</div>
        {% endif %}

        {% if order.state == 'delivery'  %}
        <div class="checkout-content" style="display: block">{% include 'spree/checkout/delivery' %}</div>
        {% endif %}

        {% if order.state == 'payment' %}
        <div class="checkout-content" style="display: block">{% include 'spree/checkout/payment' %}</div>
        {% endif %}

        {% if order.state == 'confirm' %}
        <div class="checkout-content" style="display: block">{% include 'spree/checkout/confirm' %}</div>
        {% endif %}

        <div class="clearfix"></div>
        <div style="padding-top: 20px;">
          {% if order.state == 'confirm' %}
          <button type="submit" class="btn btn-primary">{{ 'checkout_page.place_order' | t }}</button>
          {% else %}
          <button type="submit" class="btn btn-primary">{{ 'continue' | t }}</button>
          {% endif %}
        </div>
    {% endform_for %}
</div>
